.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
  max-width: 1500px;
  margin: auto;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .checkout {
    flex-direction: row;
  }
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__titleOne {
  margin-right: 10px;
  padding: 10px;
}
